:root {
    --dark-color: #262F61;
    --yellow-color: #E1832B;
    --light-color: #4F6F6C;
    --darkgreen-color: #172312;
    --light-color: #FFFFFF;
    --darkgreen-color: #020302;
    --lightgreen-color: #4F6F6C;
}
body {
    font-family: Garamond,Times, serif;
    background-image: url(./Images/Background\ info.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    resize: both;
    overflow: scroll;
}


a:visited {
    text-decoration: none;
}


.container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    width: 1200px;
    margin-top: 1em;
}


.Logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


nav {
    width: 100%;
}


nav ul {
    display: flex;
    width: 60%;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}


nav ul li {
    display: block;
}


nav ul li a {
    font-size: 30px;
    font-weight: regular;
    color: white;
}


.Button {
    background-color: var(--dark-color);
    border: none;
    padding: 10px 10px;
    text-decoration: none;
    display: flex;
    font-size: 24px;
    margin: auto;
    cursor: pointer;
    border-radius: 10px;
}


.Button a {
    color: white;
    text-align: center;
}


#Opening-Hours {
    margin: auto;
    text-align: center;
    width: 100%;
    color: white;
}
#Our-Story {
    margin: auto;
    text-align: center;
    width: 40%;
    color: white;
    font-size: x-large;
}
#Breakfast-Menu{
    margin: auto;
    text-align: center;
    width: 40%;
    color: white;
    font-size: x-large;
}